
/* ---------------------- Global Styles ------------------------- */
* {
    font-family: 'Open Sans', sans-serif;
    font-size: 0.94rem;
    color: black;
    padding: 0;
    margin: 0;
}

body {
    background-color: #FFAB80;
    background-color: #768692;
    display: flex;
    flex-direction: column;
}

button {
    background-color: #D0E5FA;
    border: none;
    box-shadow: 3px 2px 8px 1px rgba(0, 0, 0, 0.3);
}

button:active {
    transform: scale(0.98);
}

ul {
    list-style: none;
    display: flex;
    justify-content: center;
}

/* -------------------------- Navbar -------------------------- */

#navbar-list {
    gap: 1px;
    margin-top: 6vh;
}

.nav-btn {
    width: 150px;
    height: 40px;
}

#bubble-sort-btn {
    border-radius: 5px 0 0 5px;
}

#radix-sort-btn {
    border-radius: 0 5px 5px 0;
}

/* --------------------- Sorting Window ---------------------- */

#sorting-window {
    width: 800px;
    height: 480px;
    margin: 0.1vh auto 0;
    display: flex;
    align-items: flex-end;
    justify-content: space-evenly;
}

.bar {
    background-color: ivory;
    width: 9.5px;
    border-radius: 3px;
    box-shadow: 2.3px 1.5px 3px .7px rgba(0, 0, 0, 0.25);
}

/* ------------------ Control Buttons ------------------------ */

#control-btns-list {
    margin: 7vh auto 0;
    gap: 8vw;
}

.control-btn {
    width: 150px;
    height: 34px;
    border-radius: 4px;
}

.speed-btn {
    height: 34px;
    width: 34px;
    border-radius: 50%;
}



/* --------------------- Media Queries ------------------------ */

@media screen and (min-height: 750px) {
    #navbar-list {
        margin-top: 11vh;
    }

    #sorting-window {
        margin: 1vh auto 0;
    }
  }


/* #CCCCFF  <<- periwinkle color*/
/* #F28C28  <<- orange color */
/* #C8C8C8  <<- Dark Gray color */